body {
    font-family: Arial; /* קובע את הפונט של כל הדף ל-Arial */
    text-align: center; /* ממרכז את הטקסט */
    background: #121213; /* צבע רקע כהה */
    color: white; /* צבע טקסט לבן */
}

.row {
    display: flex; /* מציג את התאים בשורה אחת בעזרת flex */
    justify-content: center; /* ממרכז את התאים אופקית */
}

.cell {
    width: 65px;    /* רוחב התא */
    height: 55px; /* גובה התא */
    border: 2px solid #3a3a3c; /* מסגרת בצבע אפור כהה */
    margin: 5px; /* רווח בין תאים */
    border-radius: 6px; /* פינות מעוגלות */
    position: relative; /* מאפשר למקם אלמנטים פנימיים בצורה מוחלטת */
    transition: 0.2s; /* אנימציה קצרה לשינויים (למשל צבע/outline) */
}

.cell.correct {
    outline: 4px solid #4CAF50; /* מסגרת ירוקה - תשובה נכונה */
}

.cell.wrong-place {
    outline: 4px solid #FFC107; /* מסגרת צהובה - צבע נכון במקום לא נכון */
}

.cell.not-exist {
    outline: 4px solid #555; /* מסגרת אפורה - צבע לא קיים */
}

.cell.correct::after {
    content: "✔"; /* מוסיף סימן וי בתוך התא */
    position: absolute; /* מיקום יחסי לתא */
    bottom: 4px; /* מרחק מלמטה */
    right: 6px; /* מרחק מימין */
    font-size: 18px; /* גודל הטקסט */
    color: white; /* צבע הסימן */
}

.cell.wrong-place::after {
    content: "~"; /* מוסיף סימן טילדה */
    position: absolute; /* מיקום מוחלט */
    bottom: 4px; /* מרחק מלמטה */
    right: 6px; /* מרחק מימין */
    font-size: 18px; /* גודל */
    color: white; /* צבע */
}

.cell.not-exist::after {
    content: "✖"; /* מוסיף איקס */
    position: absolute; /* מיקום מוחלט */
    bottom: 4px; /* מרחק מלמטה */
    right: 6px; /* מרחק מימין */
    font-size: 18px; /* גודל */
    color: white; /* צבע */
}

#color-palette {
    display: flex; /* מציג את הצבעים בשורה */
    flex-wrap: wrap; /* מאפשר ירידת שורה אם אין מקום */
    justify-content: center; /* ממרכז את הפלטה */
    margin: 20px; /* רווח מסביב */
}

.color-option {
    width: 40px; /* רוחב של ריבוע צבע */
    height: 40px; /* גובה */
    margin: 6px; /* רווח בין צבעים */
    border-radius: 8px; /* פינות מעוגלות */
    cursor: pointer; /* משנה את הסמן ליד (לחיץ) */
}

button {
    margin: 5px; /* רווח בין כפתורים */
    padding: 10px 15px; /* ריפוד פנימי */
    background: #3a3a3c; /* צבע רקע */
    color: white; /* צבע טקסט */
    border: none; /* ללא מסגרת */
    border-radius: 5px; /* פינות מעוגלות */
    cursor: pointer; /* סמן יד */
}

#restart-btn {
    display: none; /* מוסתר כברירת מחדל */
    background: #4CAF50; /* צבע ירוק לכפתור ריסט */
}

@media (max-width: 768px) {

    h1 {
        font-size: 42px;
    }

    .cell {
        width: 50px;
        height: 50px;
        margin: 5px;
    }

    .color-option {
        width: 55px;
        height: 55px;
    }

    button {
        font-size: 20px;
        padding: 14px 22px;
    }

    .cell.correct::after,
    .cell.wrong-place::after,
    .cell.not-exist::after {
        font-size: 24px;
    }
}
